@tailwind base;
@tailwind components;
@tailwind utilities;
.brand {
  height: 20px;
  width: auto;
}
@media (max-width: 768px) {
  .brand {
    height: 16px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.animate-slide {
  display: flex;
  animation: slide 80s linear infinite;
}
.dropdown-content {
  display: none;
  max-height: 300px;
}
.dropdown:hover {
  .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    max-width: 200px;
  }
}
.dropdown:hover::after {
  background-color: rgba(64, 25, 109, 0.2);
  bottom: 0;
  content: "";
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* Custom styles for grid layout */
@media (min-width: 768px) {
  /* md breakpoint */
  .md\:grid-cols-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  /* lg breakpoint */
  .lg\:grid-cols-custom {
    display: grid;
    grid-template-columns: 45% 55%;
  }
}
